code/jvm/.idea
.idea
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

node_modules/

.env

playwright-report

test-storageState.json

test-results/

